body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  
}

#header {
    background: #f1e2dd;
    width: 100%;
    min-height: 130px;
}

a, a:link:active, a:visited:active {
    text-decoration: none;
    color: #252525;
}